
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.25rem;
}

.nav-link {
  font-size: 1rem;
}

.nav-link.disabled {
  color: #6c757d !important;
}


Footer {
  text-align: center !important;
}
Footer a , li  {
  color: aliceblue !important;
}

.signup{
  max-width: 40%;
  max-height: 40%;
  margin-inline: auto ;
}
 .signup input{
  margin-block: -.1rem;
 }
 .signup